---
import { Font } from 'astro:assets';
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Font Ballooning Repro</title>
    <Font cssVariable="--font-noto-sans-jp" preload />
    <style>
      body {
        font-family: var(--font-noto-sans-jp), sans-serif;
        max-width: 800px;
        margin: 0 auto;
        padding: 2rem;
      }
    </style>
  </head>
  <body>
    <h1>Astro Font</h1>
    <p>アストロの再現デモです。</p>
  </body>
</html>
